html {
  background-color: #ffffff;
}

h1 {
	font-family: "Arial Rounded MT Bold";
	font-size: 60px;
	text-align: center;
	margin: 0;
	margin-bottom: 5px;
	color: white;
}

p {
	font-family: "Arial Rounded MT Bold";
	font-size: 20px;
	text-align: center;
	margin: 0;
	color: white;
}

.banner {
background-color: #8F001A;
}
