/* Style sheet
   color picker www.w3schools.com/colors/colors_picker.asp
*/

html {
  background-color: white;
}

h1 {
	font-family: "Arial Rounded MT Bold";
	font-size: 60px;
	text-align: center;
	margin: 0;
	padding: 20px 0;
	color: #000000;
}
