html {
  background-color: white;
}

h1 {
	font-family: "Arial Rounded MT Bold";
	font-size: 60px;
	text-align: center;
	margin: 0;
	padding: 10px 0 5px 0;
	color: #000000;
}

p {
	font-family: "Arial Rounded MT Bold";
	font-size: 20px;
	text-align: center;
	margin: 0;
	padding: 5px 0 10px 0;
	color: #000000;
	
}
