html {
  background-color: white;
}

h1 {
	font-family: "Arial Rounded MT Bold";
	font-size: 60px;
	text-align: center;
	margin-bottom: 5px;
	color: #000000;
}

p {
	font-family: "Arial Rounded MT Bold";
	font-size: 20px;
	text-align: center;
	margin-top: 0;
	color: #000000;
	
}
