html {
  background-color: #ffffff;
}

h1 {
	font-family: "Arial Rounded MT Bold";
	font-size: 60px;
	text-align: center;
	margin: 0;
	margin-bottom: 5px;
	color: #000000;
}

p {
	font-family: "Arial Rounded MT Bold";
	font-size: 20px;
	text-align: center;
	margin: 0;
	color: #000000;
}

.banner {
width: 500px; 
height: 150px; 
background-color: #8F001A;
color: white;
}
