html {
  background-color: #f2f0ef;
}

h1 {
	font-family: "Arial Rounded MT Bold";
	font-size: 60px;
	text-align: center;
	margin: 0;
	margin-bottom: 5px;
	color: white;
}

h2 {
	font-family: "Arial Rounded MT Bold";
	font-size: 15px;
	text-align: center;
	margin: 0;
	margin-bottom: 5px;
	color: black;
}

p {
  font-family: "Arial Rounded MT Bold", Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  margin: 0;
  color: black;
}


.banner p {
  font-family: "Arial Rounded MT Bold", Arial, sans-serif;
  font-size: 18px;
  text-align: center;
  margin: 0;
  color: red;
}


#signature {
  text-align: right;
  color: black;
  font-style: italic;
  font-size: 75%;
}
